<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.warehouse.mapper.StkInventoryMapper">

    <resultMap type="StkInventory" id="StkInventoryResult">
        <result property="id"    column="id"    />
        <result property="qty"    column="qty"    />
        <result property="materialId"    column="material_id"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="amt"    column="amt"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="materialNo"    column="material_no"    />
        <result property="materialDate"    column="material_date"    />
        <result property="warehouseDate"    column="warehouse_date"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="receiptOrderNo"    column="receipt_order_no"    />
        <association property="warehouse"    column="id" javaType="FdWarehouse" resultMap="warehouseResult" />
        <association property="material"    column="id" javaType="FdMaterial" resultMap="materialResult" />
        <association property="supplier"    column="id" javaType="FdSupplier" resultMap="supplierResult" />
    </resultMap>

    <resultMap id="warehouseResult" type="FdWarehouse">
        <id     property="id"    column="wId"     />
        <result property="code"  column="warehouseCode"   />
        <result property="name"  column="warehouseName"   />
    </resultMap>

    <resultMap id="materialResult" type="FdMaterial">
        <id     property="id"    column="mId"     />
        <result property="code"  column="materialCode"   />
        <result property="name"  column="materialName"   />
    </resultMap>

    <resultMap id="supplierResult" type="FdSupplier">
        <id     property="id"    column="sId"     />
        <result property="code"  column="supplierCode"   />
        <result property="name"  column="supplierName"   />
    </resultMap>

    <sql id="selectStkInventoryVo">
        select stk.id, stk.qty, stk.material_id, stk.warehouse_id, stk.unit_price,stk.amt,
				stk.batch_no, stk.material_no, stk.material_date, stk.warehouse_date,
				stk.supplier_id,stk.begin_time,stk.end_time,stk.receipt_order_no,
				w.id wId,w.code warehouseCode,w.name warehouseName,
				m.id mId,m.code materialCode,m.name materialName,
				s.id sId,s.code supplierCode,s.name supplierName
        from stk_inventory stk
        left join fd_warehouse w on stk.warehouse_id = w.id
        left join fd_supplier s on stk.supplier_id = s.id
        left join fd_material m on stk.material_id = m.id
    </sql>

    <sql id="selectStkInventoryMaterialVo">
        select stk.id,m.name materialName
        from stk_inventory stk
        left join fd_material m on stk.material_id = m.id
    </sql>

    <select id="selectPDInventoryFilter" parameterType="StkInventory" resultMap="StkInventoryResult">
        select stk.id, stk.qty, stk.material_id, stk.warehouse_id, stk.unit_price,stk.amt,
				stk.batch_no, stk.material_no, stk.material_date, stk.warehouse_date,
				stk.supplier_id,stk.begin_time,stk.end_time,stk.receipt_order_no,
				w.id wId,w.code warehouseCode,w.name warehouseName,
				m.id mId,m.code materialCode,m.name materialName,
				s.id sId,s.code supplierCode,s.name supplierName
        from stk_inventory stk
        left join fd_warehouse w on stk.warehouse_id = w.id
        left join fd_supplier s on stk.supplier_id = s.id
        right join fd_material m on stk.material_id = m.id and stk.qty &gt; 0
        where m.del_flag != 1 and m.is_gz != 1
    </select>

    <select id="selectStkInventoryList" parameterType="StkInventory" resultMap="StkInventoryResult">
        <include refid="selectStkInventoryVo"/>
        where stk.qty &gt; 0
        <if test="materialId != null "> and stk.material_id = #{materialId}</if>
        <if test="warehouseId != null "> and stk.warehouse_id = #{warehouseId} </if>
        <if test="unitPrice != null "> and stk.unit_price = #{unitPrice}</if>
        <if test="amt != null "> and stk.amt = #{amt}</if>
        <if test="qty != null "> and stk.qty = #{qty}</if>
        <if test="batchNo != null  and batchNo != ''"> and stk.batch_no = #{batchNo}</if>
        <if test="materialNo != null  and materialNo != ''"> and stk.material_no = #{materialNo}</if>
        <if test="materialDate != null "> and stk.material_date = #{materialDate}</if>
        <if test="warehouseDate != null "> and stk.warehouse_date = #{warehouseDate}</if>
        <if test="warehouseName != null and warehouseName != ''"> and w.name like concat('%', #{warehouseName}, '%')</if>
        <if test="materialName != null and materialName != ''"> and m.name like concat('%', #{materialName}, '%')</if>
        <if test="supplierId != null "> and stk.supplier_id = #{supplierId} </if>
        order by stk.warehouse_date desc
    </select>

    <select id="selectStkInventoryListSummary" parameterType="StkInventory" resultType="java.util.HashMap">
        select stk.id, m.code materialCode,m.name materialName,sum(stk.qty) materialQty,m.speci materialSpeci,
                m.model materialModel,u.unit_name unitName,stk.material_id,stk.unit_price unitPrice,
                ROUND(sum(stk.qty) * stk.unit_price, 2) materialAmt,
                w.name warehouseName,f.factory_name factoryName,s.name supplierName
        from stk_inventory stk
        left join fd_warehouse w on stk.warehouse_id = w.id
        left join fd_supplier s on stk.supplier_id = s.id
        left join fd_material m on stk.material_id = m.id
        left join fd_unit u on u.unit_id = m.unit_id
        left join fd_factory f on f.factory_id = m.factory_id
        where stk.qty &gt; 0
        <if test="materialId != null "> and stk.material_id = #{materialId}</if>
        <if test="warehouseId != null "> and stk.warehouse_id = #{warehouseId} </if>
        <if test="unitPrice != null "> and stk.unit_price = #{unitPrice}</if>
        <if test="amt != null "> and stk.amt = #{amt}</if>
        <if test="qty != null "> and stk.qty = #{qty}</if>
        <if test="batchNo != null  and batchNo != ''"> and stk.batch_no = #{batchNo}</if>
        <if test="materialNo != null  and materialNo != ''"> and stk.material_no = #{materialNo}</if>
        <if test="materialDate != null "> and stk.material_date = #{materialDate}</if>
        <if test="warehouseDate != null "> and stk.warehouse_date = #{warehouseDate}</if>
        <if test="warehouseName != null and warehouseName != ''"> and w.name like concat('%', #{warehouseName}, '%')</if>
        <if test="materialName != null and materialName != ''"> and m.name like concat('%', #{materialName}, '%')</if>
        <if test="supplierId != null "> and stk.supplier_id = #{supplierId} </if>
        GROUP BY stk.id, m.code,m.name,m.speci,
        m.model,u.unit_name,stk.material_id,stk.unit_price,
        w.name,f.factory_name,s.name
    </select>

    <select id="selectStkMaterialList" parameterType="StkInventory" resultMap="StkInventoryResult">
        <include refid="selectStkInventoryMaterialVo"/>
        <where>
            <if test="warehouseId != null "> and stk.warehouse_id = #{warehouseId}</if>
        </where>
    </select>

    <select id="selectStkInventoryById" parameterType="Long" resultMap="StkInventoryResult">
        <include refid="selectStkInventoryVo"/>
        where stk.id = #{id}
    </select>

    <insert id="insertStkInventory" parameterType="StkInventory" useGeneratedKeys="true" keyProperty="id">
        insert into stk_inventory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qty != null">qty,</if>
            <if test="materialId != null">material_id,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="amt != null">amt,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="materialNo != null">material_no,</if>
            <if test="materialDate != null">material_date,</if>
            <if test="warehouseDate != null">warehouse_date,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="receiptOrderNo != null">receipt_order_no,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="qty != null">#{qty},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="amt != null">#{amt},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="materialNo != null">#{materialNo},</if>
            <if test="materialDate != null">#{materialDate},</if>
            <if test="warehouseDate != null">#{warehouseDate},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="receiptOrderNo != null">#{receiptOrderNo},</if>
         </trim>
    </insert>

    <update id="updateStkInventory" parameterType="StkInventory">
        update stk_inventory
        <trim prefix="SET" suffixOverrides=",">
            <if test="qty != null">qty = #{qty},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="amt != null">amt = #{amt},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="materialNo != null">material_no = #{materialNo},</if>
            <if test="materialDate != null">material_date = #{materialDate},</if>
            <if test="warehouseDate != null">warehouse_date = #{warehouseDate},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="receiptOrderNo != null">receipt_order_no = #{receiptOrderNo},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStkInventoryById" parameterType="Long">
        delete from stk_inventory where id = #{id}
    </delete>

    <delete id="deleteStkInventoryByIds" parameterType="String">
        delete from stk_inventory where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectStkInvntoryByBatchNo" parameterType="java.lang.String" resultType="java.math.BigDecimal">
        select SUM(IFNULL(qty, 0)) from stk_inventory
        where batch_no = #{batchNo}
    </select>

    <select id="selectStkInventoryOne" parameterType="java.lang.String" resultMap="StkInventoryResult">
        select * from stk_inventory where batch_no = #{batchNo}
    </select>
</mapper>
