######################################################################
# Node (勿在后端仓库安装 npm 依赖)
node_modules/
package-lock.json

######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml
spd-admin/src/main/resources/application-dev.yml

# 离线签发 RSA 私钥（仅本地保留，勿提交）
tools/license-generator/keys/license_signing_private_pkcs8.pem
