<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.gz.mapper.GzRefundGoodsEntryRefMapper">

    <insert id="batchInsert">
        insert into gz_refund_goods_entry_ref (
            id, tenant_id, refund_goods_entry_id, src_bill_kind, src_main_id, src_bill_no, src_detail_id, src_in_hospital_code,
            tgt_bill_kind, tgt_main_id, tgt_bill_no, tgt_entry_id, ref_purpose, material_id, material_name, create_by, create_time
        ) values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.id}, #{item.tenantId}, #{item.refundGoodsEntryId}, #{item.srcBillKind}, #{item.srcMainId}, #{item.srcBillNo},
                #{item.srcDetailId}, #{item.srcInHospitalCode}, #{item.tgtBillKind}, #{item.tgtMainId}, #{item.tgtBillNo},
                #{item.tgtEntryId}, #{item.refPurpose}, #{item.materialId}, #{item.materialName}, #{item.createBy}, #{item.createTime}
            )
        </foreach>
    </insert>

    <delete id="deleteByParenRefundGoodsId">
        delete from gz_refund_goods_entry_ref where refund_goods_entry_id in (
            select t.id from (
                select cast(id as char) id from gz_refund_goods_entry where paren_id = #{parenId}
            ) t
        )
    </delete>
</mapper>
