<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.gz.mapper.GzDepApplyMapper">

    <resultMap type="GzDepApply" id="GzDepApplyResult">
        <result property="id"    column="id"    />
        <result property="applyBillNo"    column="apply_bill_no"    />
        <result property="applyBillDate"    column="apply_bill_date"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="userId"    column="user_id"    />
        <result property="applyBillStatus"    column="apply_bill_status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="warehouse"    column="id" javaType="FdWarehouse" resultMap="warehouseResult" />
        <association property="user"    column="user_id" javaType="SysUser" resultMap="userResult" />
    </resultMap>

    <resultMap id="warehouseResult" type="FdWarehouse">
        <id     property="id"    column="wId"     />
        <result property="code"  column="warehouseCode"   />
        <result property="name"  column="warehouseName"   />
    </resultMap>

    <resultMap id="userResult" type="SysUser">
        <id     property="userId"    column="userId"     />
        <result property="nickName"  column="nickName"   />
        <result property="userName"  column="userName"   />
    </resultMap>

    <resultMap id="GzDepApplyGzDepApplyEntryResult" type="GzDepApply" extends="GzDepApplyResult">
        <collection property="gzDepApplyEntryList" notNullColumn="sub_id" javaType="java.util.List" resultMap="GzDepApplyEntryResult" />
    </resultMap>

    <resultMap type="GzDepApplyEntry" id="GzDepApplyEntryResult">
        <result property="id"    column="sub_id"    />
        <result property="parenId"    column="sub_paren_id"    />
        <result property="materialId"    column="sub_material_id"    />
        <result property="unitPrice"    column="sub_unit_price"    />
        <result property="qty"    column="sub_qty"    />
        <result property="price"    column="sub_price"    />
        <result property="amt"    column="sub_amt"    />
        <result property="batchNo"    column="sub_batch_no"    />
        <result property="batchNumer"    column="sub_batch_numer"    />
        <result property="remark"    column="sub_remark"    />
    </resultMap>

    <sql id="selectGzDepApplyVo">
        select a.id, a.apply_bill_no, a.apply_bill_date, a.warehouse_id, a.user_id,
				a.apply_bill_status, a.del_flag, a.create_by, a.create_time, a.update_by,
				a.update_time, a.remark,w.id wId,w.code warehouseCode,w.name warehouseName,
				u.user_id userId,u.nick_name nickName,u.user_name userName
        from gz_dep_apply a
        left join fd_warehouse w on a.warehouse_id = w.id
        left join sys_user u on a.user_id = u.user_id
    </sql>

    <select id="selectGzDepApplyList" parameterType="GzDepApply" resultMap="GzDepApplyResult">
        <include refid="selectGzDepApplyVo"/>
        <where>
            <if test="applyBillNo != null  and applyBillNo != ''"> and a.apply_bill_no = #{applyBillNo}</if>
            <if test="applyBillDate != null "> and a.apply_bill_date = #{applyBillDate}</if>
            <if test="warehouseId != null "> and a.warehouse_id = #{warehouseId}</if>
            <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="applyBillStatus != null "> and a.apply_bill_status = #{applyBillStatus}</if>
        </where>
    </select>

    <select id="selectGzDepApplyById" parameterType="Long" resultMap="GzDepApplyGzDepApplyEntryResult">
        select a.id, a.apply_bill_no, a.apply_bill_date, a.warehouse_id, a.user_id, a.apply_bill_status, a.del_flag,
                a.create_by, a.create_time, a.update_by, a.update_time, a.remark,
                b.id as sub_id, b.paren_id as sub_paren_id, b.material_id as sub_material_id, b.unit_price as sub_unit_price,
                b.qty as sub_qty, b.price as sub_price, b.amt as sub_amt, b.batch_no as sub_batch_no, b.batch_numer as sub_batch_numer,
                b.remark as sub_remark
        from gz_dep_apply a
        left join gz_dep_apply_entry b on b.paren_id = a.id
        where a.id = #{id}
    </select>

    <insert id="insertGzDepApply" parameterType="GzDepApply" useGeneratedKeys="true" keyProperty="id">
        insert into gz_dep_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyBillNo != null">apply_bill_no,</if>
            <if test="applyBillDate != null">apply_bill_date,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="applyBillStatus != null">apply_bill_status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyBillNo != null">#{applyBillNo},</if>
            <if test="applyBillDate != null">#{applyBillDate},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="applyBillStatus != null">#{applyBillStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGzDepApply" parameterType="GzDepApply">
        update gz_dep_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="applyBillNo != null">apply_bill_no = #{applyBillNo},</if>
            <if test="applyBillDate != null">apply_bill_date = #{applyBillDate},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="applyBillStatus != null">apply_bill_status = #{applyBillStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGzDepApplyById" parameterType="Long">
        update gz_dep_apply set del_flag = 1, update_time = now() where id = #{id}
    </delete>

    <delete id="deleteGzDepApplyByIds" parameterType="String">
        update gz_dep_apply set del_flag = 1, update_time = now() where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteGzDepApplyEntryByParenIds" parameterType="String">
        update gz_dep_apply_entry set del_flag = 1, update_time = now() where paren_id in
        <foreach item="parenId" collection="array" open="(" separator="," close=")">
            #{parenId}
        </foreach>
    </delete>

    <delete id="deleteGzDepApplyEntryByParenId" parameterType="Long">
        update gz_dep_apply_entry set del_flag = 1, update_time = now() where paren_id = #{parenId}
    </delete>

    <insert id="batchGzDepApplyEntry">
        insert into gz_dep_apply_entry(  paren_id, material_id, unit_price, qty, price, amt, batch_no, batch_numer, remark) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.parenId}, #{item.materialId}, #{item.unitPrice}, #{item.qty}, #{item.price}, #{item.amt}, #{item.batchNo}, #{item.batchNumer}, #{item.remark})
        </foreach>
    </insert>

    <select id="selectMaxBillNo" resultType="String">
        select max(apply_bill_no) from gz_dep_apply
        where apply_bill_no like concat('%',#{date},'%')
    </select>
</mapper>
