<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.system.mapper.HcUserPermissionMenuMapper">

  <insert id="batchInsert" parameterType="java.util.List">
    insert into hc_user_permission_menu (id, user_id, tenant_id, menu_id, create_by, create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.userId}, #{item.tenantId}, #{item.menuId}, #{item.createBy}, now())
    </foreach>
  </insert>

  <delete id="deleteByUserIdAndTenantId">
    delete from hc_user_permission_menu where user_id = #{userId} and tenant_id = #{tenantId}
  </delete>

  <delete id="deleteByTenantIdAndMenuIds">
    delete from hc_user_permission_menu
    where tenant_id = #{tenantId}
    and menu_id in
    <foreach collection="menuIds" item="mid" open="(" separator="," close=")">
      #{mid}
    </foreach>
  </delete>

  <delete id="deleteHcUserPermissionMenusNotInHcCustomerMenus">
    DELETE upm FROM hc_user_permission_menu upm
    LEFT JOIN hc_customer_menu cm ON cm.tenant_id = #{tenantId} AND cm.menu_id = upm.menu_id
    WHERE upm.tenant_id = #{tenantId} AND cm.menu_id IS NULL
  </delete>

</mapper>
