<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.system.mapper.SbMenuMapper">

  <resultMap type="com.spd.system.domain.SbMenu" id="SbMenuResult">
    <id     property="menuId"    column="menu_id"/>
    <result property="menuName"  column="menu_name"/>
    <result property="parentName" column="parent_name"/>
    <result property="parentId"  column="parent_id"/>
    <result property="orderNum"  column="order_num"/>
    <result property="path"      column="path"/>
    <result property="component" column="component"/>
    <result property="query"     column="query"/>
    <result property="isFrame"   column="is_frame"/>
    <result property="isCache"   column="is_cache"/>
    <result property="menuType"  column="menu_type"/>
    <result property="visible"   column="visible"/>
    <result property="status"    column="status"/>
    <result property="perms"     column="perms"/>
    <result property="icon"      column="icon"/>
    <result property="createBy"  column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy"  column="update_by"/>
    <result property="remark"    column="remark"/>
    <result property="deleteBy"  column="delete_by"/>
    <result property="deleteTime" column="delete_time"/>
  </resultMap>

  <sql id="selectSbMenuVo">
    select menu_id,
           menu_name,
           parent_id,
           order_num,
           path,
           component,
           null as `query`,
           is_frame,
           is_cache,
           menu_type,
           visible,
           status,
           ifnull(perms, '') as perms,
           icon,
           create_time,
           update_time,
           create_by,
           update_by,
           remark,
           delete_by,
           delete_time
    from sb_menu
  </sql>

  <select id="selectSbMenuList" parameterType="com.spd.system.domain.SbMenu" resultMap="SbMenuResult">
    <include refid="selectSbMenuVo"/>
    <where>
      <if test="menuName != null and menuName != ''">
        AND menu_name like concat('%', #{menuName}, '%')
      </if>
      <if test="visible != null and visible != ''">
        AND visible = #{visible}
      </if>
      <if test="status != null and status != ''">
        AND status = #{status}
      </if>
    </where>
    order by parent_id, order_num
  </select>

  <select id="selectSbMenuTreeAll" resultMap="SbMenuResult">
    select distinct m.menu_id,
           m.parent_id,
           m.menu_name,
           m.path,
           m.component,
           null as `query`,
           m.visible,
           m.status,
           ifnull(m.perms, '') as perms,
           m.is_frame,
           m.is_cache,
           m.menu_type,
           m.icon,
           m.order_num,
           m.create_time,
           m.update_time,
           m.create_by,
           m.update_by,
           m.remark,
           m.delete_by,
           m.delete_time
    from sb_menu m
    where m.menu_type in ('M', 'C')
      and m.status = '0'
    order by m.parent_id, m.order_num
  </select>

  <select id="selectSbMenuTreeByUserId" parameterType="Long" resultMap="SbMenuResult">
    select distinct m.menu_id,
           m.parent_id,
           m.menu_name,
           m.path,
           m.component,
           null as `query`,
           m.visible,
           m.status,
           ifnull(m.perms, '') as perms,
           m.is_frame,
           m.is_cache,
           m.menu_type,
           m.icon,
           m.order_num,
           m.create_time,
           m.update_time,
           m.create_by,
           m.update_by,
           m.remark,
           m.delete_by,
           m.delete_time
    from sb_menu m
    where m.menu_type in ('M', 'C')
      and m.status = '0'
      and exists (
        select 1
        from sb_role_menu rm
        inner join sb_user_role ur on rm.role_id = ur.role_id
        inner join sb_role r on ur.role_id = r.role_id
        where rm.menu_id = m.menu_id
          and ur.user_id = #{userId}
          and r.status = '0'
      )
      and (
        exists (select 1 from sys_user u where u.user_id = #{userId} and u.customer_id is null)
        or exists (
          select 1 from sys_user u
          inner join sb_customer_menu cm on cm.customer_id = u.customer_id and cm.menu_id = m.menu_id and (cm.delete_time is null)
          where u.user_id = #{userId}
        )
      )
    order by m.parent_id, m.order_num
  </select>

  <insert id="insertSbMenu" parameterType="com.spd.system.domain.SbMenu">
    insert into sb_menu(
      <if test="menuId != null and menuId != ''">menu_id,</if>
      <if test="parentId != null">parent_id,</if>
      <if test="menuName != null and menuName != ''">menu_name,</if>
      <if test="orderNum != null">order_num,</if>
      <if test="path != null and path != ''">path,</if>
      <if test="component != null and component != ''">component,</if>
      <if test="isFrame != null and isFrame != ''">is_frame,</if>
      <if test="isCache != null and isCache != ''">is_cache,</if>
      <if test="menuType != null and menuType != ''">menu_type,</if>
      <if test="visible != null">visible,</if>
      <if test="status != null">status,</if>
      <if test="perms != null and perms != ''">perms,</if>
      <if test="icon != null and icon != ''">icon,</if>
      <if test="remark != null and remark != ''">remark,</if>
      <if test="createBy != null and createBy != ''">create_by,</if>
      create_time
    ) values(
      <if test="menuId != null and menuId != ''">#{menuId},</if>
      <if test="parentId != null">#{parentId},</if>
      <if test="menuName != null and menuName != ''">#{menuName},</if>
      <if test="orderNum != null">#{orderNum},</if>
      <if test="path != null and path != ''">#{path},</if>
      <if test="component != null and component != ''">#{component},</if>
      <if test="isFrame != null and isFrame != ''">#{isFrame},</if>
      <if test="isCache != null and isCache != ''">#{isCache},</if>
      <if test="menuType != null and menuType != ''">#{menuType},</if>
      <if test="visible != null">#{visible},</if>
      <if test="status != null">#{status},</if>
      <if test="perms != null and perms != ''">#{perms},</if>
      <if test="icon != null and icon != ''">#{icon},</if>
      <if test="remark != null and remark != ''">#{remark},</if>
      <if test="createBy != null and createBy != ''">#{createBy},</if>
      sysdate()
    )
  </insert>

  <update id="updateSbMenu" parameterType="com.spd.system.domain.SbMenu">
    update sb_menu
    <set>
      <if test="menuName != null and menuName != ''">menu_name = #{menuName},</if>
      <if test="parentId != null">parent_id = #{parentId},</if>
      <if test="orderNum != null">order_num = #{orderNum},</if>
      <if test="path != null and path != ''">path = #{path},</if>
      <if test="component != null">component = #{component},</if>
      <if test="isFrame != null and isFrame != ''">is_frame = #{isFrame},</if>
      <if test="isCache != null and isCache != ''">is_cache = #{isCache},</if>
      <if test="menuType != null and menuType != ''">menu_type = #{menuType},</if>
      <if test="visible != null">visible = #{visible},</if>
      <if test="status != null">status = #{status},</if>
      <if test="perms != null">perms = #{perms},</if>
      <if test="icon != null and icon != ''">icon = #{icon},</if>
      <if test="remark != null and remark != ''">remark = #{remark},</if>
      <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
      update_time = sysdate()
    </set>
    where menu_id = #{menuId}
  </update>

  <delete id="deleteSbMenuById" parameterType="String">
    delete from sb_menu where menu_id = #{menuId}
  </delete>

  <select id="checkSbMenuNameUnique" parameterType="com.spd.system.domain.SbMenu" resultMap="SbMenuResult">
    <include refid="selectSbMenuVo"/>
    where menu_name = #{menuName} and parent_id = #{parentId} limit 1
  </select>

  <select id="selectSbMenuPermsByUserId" parameterType="Long" resultType="String">
    select distinct m.perms
    from sb_menu m
    where m.status = '0' and m.perms is not null and m.perms != ''
      and exists (
        select 1
        from sb_role_menu rm
          inner join sb_user_role ur on rm.role_id = ur.role_id
          inner join sb_role r on ur.role_id = r.role_id
        where rm.menu_id = m.menu_id
          and ur.user_id = #{userId}
          and r.status = '0'
      )
  </select>
</mapper>

