<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.system.mapper.SbWorkGroupDeptMapper">

  <select id="selectDeptIdsByGroupId" resultType="long">
    select dept_id from sb_work_group_dept where group_id = #{groupId} and delete_time is null
  </select>

  <update id="deleteByGroupId">
    update sb_work_group_dept set delete_by = #{deleteBy}, delete_time = sysdate() where group_id = #{groupId}
  </update>

  <insert id="insert" parameterType="com.spd.system.domain.SbWorkGroupDept">
    insert into sb_work_group_dept (id, group_id, dept_id, customer_id, create_by, create_time)
    values (#{id}, #{groupId}, #{deptId}, #{customerId}, #{createBy}, sysdate())
  </insert>

  <insert id="batchInsert">
    insert into sb_work_group_dept (id, group_id, dept_id, customer_id, create_by, create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.groupId}, #{item.deptId}, #{item.customerId}, #{item.createBy}, sysdate())
    </foreach>
    on duplicate key update delete_by = null, delete_time = null
  </insert>

</mapper>
