<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.system.mapper.SbWorkGroupMenuMapper">

  <select id="selectMenuIdsByGroupId" resultType="string">
    select menu_id from sb_work_group_menu where group_id = #{groupId} and delete_time is null
  </select>

  <update id="deleteByGroupId">
    update sb_work_group_menu set delete_by = #{deleteBy}, delete_time = sysdate() where group_id = #{groupId}
  </update>

  <insert id="insert" parameterType="com.spd.system.domain.SbWorkGroupMenu">
    insert into sb_work_group_menu (id, group_id, menu_id, customer_id, create_by, create_time)
    values (#{id}, #{groupId}, #{menuId}, #{customerId}, #{createBy}, sysdate())
  </insert>

  <insert id="batchInsert">
    insert into sb_work_group_menu (id, group_id, menu_id, customer_id, create_by, create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.groupId}, #{item.menuId}, #{item.customerId}, #{item.createBy}, sysdate())
    </foreach>
    on duplicate key update delete_by = null, delete_time = null
  </insert>

</mapper>
