<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.system.mapper.SbWorkGroupWarehouseMapper">

  <select id="selectWarehouseIdsByGroupId" resultType="long">
    select warehouse_id from sb_work_group_warehouse where group_id = #{groupId} and delete_time is null
  </select>

  <update id="deleteByGroupId">
    update sb_work_group_warehouse set delete_by = #{deleteBy}, delete_time = sysdate() where group_id = #{groupId}
  </update>

  <insert id="insert" parameterType="com.spd.system.domain.SbWorkGroupWarehouse">
    insert into sb_work_group_warehouse (id, group_id, warehouse_id, customer_id, create_by, create_time)
    values (#{id}, #{groupId}, #{warehouseId}, #{customerId}, #{createBy}, sysdate())
  </insert>

  <insert id="batchInsert">
    insert into sb_work_group_warehouse (id, group_id, warehouse_id, customer_id, create_by, create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.groupId}, #{item.warehouseId}, #{item.customerId}, #{item.createBy}, sysdate())
    </foreach>
  </insert>

</mapper>
