<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.system.mapper.SysUserMenuMapper">

	<resultMap type="SysUserMenu" id="SysUserMenuResult">
		<result property="menuId"     column="menu_id"      />
		<result property="userId"     column="user_id"      />
	</resultMap>

	<delete id="deleteUserMenuByUserId" parameterType="Long">
		delete from sys_user_menu where user_id=#{userId}
	</delete>

	<select id="countUserMenuById" resultType="Integer">
	    select count(1) from sys_user_menu where menu_id=#{menuId}
	</select>

	<delete id="deleteUserMenu" parameterType="Long">
 		delete from sys_user_menu where user_id in
 		<foreach collection="array" item="userId" open="(" separator="," close=")">
 			#{userId}
        </foreach>
 	</delete>

	<insert id="batchUserMenu">
		insert into sys_user_menu(menu_id, user_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.menuId},#{item.userId})
		</foreach>
	</insert>

	<select id="selectMenuListByUserId" parameterType="Long" resultType="java.lang.Long">
		select menu_id from sys_user_menu where user_id=#{userId}
	</select>

</mapper>

