<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.department.mapper.DeptStocktakingMapper">

    <resultMap type="StkIoStocktaking" id="DeptStocktakingResult">
        <result property="id"    column="id"    />
        <result property="stockNo"    column="stock_no"    />
        <result property="supplerId"    column="suppler_id"    />
        <result property="stockDate"    column="stock_date"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="departmentId"    column="department_id"    />
        <result property="stockStatus"    column="stock_status"    />
        <result property="userId"    column="user_id"    />
        <result property="stockType"    column="stock_type"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="auditDate"    column="audit_date"    />
        <result property="rejectReason"    column="reject_reason"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="isMonthInit"    column="is_month_init"    />
        <result property="profitAmount"    column="profit_amount"    />
        <result property="totalAmount"    column="total_amount"    />
        <association property="supplier"    column="id" javaType="FdSupplier" resultMap="supplierResult" />
        <association property="department"    column="id" javaType="FdDepartment" resultMap="departmentResult" />
        <association property="warehouse"    column="id" javaType="FdWarehouse" resultMap="warehouseResult" />
    </resultMap>

    <resultMap id="supplierResult" type="FdSupplier">
        <id     property="id"    column="sId"     />
        <result property="code"  column="supplierCode"   />
        <result property="name"  column="supplierName"   />
    </resultMap>

    <resultMap id="departmentResult" type="FdDepartment">
        <id     property="id"    column="dId"     />
        <result property="code"  column="departmentCode"   />
        <result property="name"  column="departmentName"   />
    </resultMap>

    <resultMap id="warehouseResult" type="FdWarehouse">
        <id     property="id"    column="wId"     />
        <result property="code"  column="warehouseCode"   />
        <result property="name"  column="warehouseName"   />
    </resultMap>

    <resultMap id="DeptStocktakingStkIoStocktakingEntryResult" type="StkIoStocktaking" extends="DeptStocktakingResult">
        <collection property="stkIoStocktakingEntryList" notNullColumn="sub_id" javaType="java.util.List" resultMap="StkIoStocktakingEntryResult" />
    </resultMap>

    <resultMap type="StkIoStocktakingEntry" id="StkIoStocktakingEntryResult">
        <result property="id"    column="sub_id"    />
        <result property="parenId"    column="sub_paren_id"    />
        <result property="commodityId"    column="sub_commodity_id"    />
        <result property="materialId"    column="sub_material_id"    />
        <result property="unitPrice"    column="sub_unit_price"    />
        <result property="qty"    column="sub_qty"    />
        <result property="price"    column="sub_price"    />
        <result property="amt"    column="sub_amt"    />
        <result property="batchNo"    column="sub_batch_no"    />
        <result property="batchNumber"    column="sub_batch_number"    />
        <result property="beginTime"    column="sub_begin_time"    />
        <result property="endTime"    column="sub_end_time"    />
        <result property="delFlag"    column="sub_del_flag"    />
        <result property="remark"    column="sub_remark"    />
        <result property="stockQty"    column="sub_stock_qty"    />
        <result property="profitQty"    column="sub_profit_qty"    />
        <result property="stockAmount"    column="sub_stock_amount"    />
        <result property="profitAmount"    column="sub_profit_amount"    />
        <association property="material"    javaType="FdMaterial" resultMap="materialResult" />
    </resultMap>

    <resultMap id="materialResult" type="FdMaterial">
        <id     property="id"    column="mId"     />
        <result property="code"  column="materialCode"   />
        <result property="name"  column="materialName"   />
        <result property="speci"    column="m_speci"    />
        <result property="model"    column="m_model"    />
        <result property="registerNo"    column="m_registerNo"    />
        <result property="unitId"    column="m_unitId"    />
        <result property="factoryId"    column="m_factoryId"    />
        <result property="supplierId"    column="m_supplierId"    />
        <association property="fdUnit"    javaType="FdUnit" resultMap="fdUnitResult" />
        <association property="fdFactory"    javaType="FdFactory" resultMap="fdFactoryResult" />
        <association property="supplier"    javaType="FdSupplier" resultMap="materialSupplierResult" />
    </resultMap>

    <resultMap id="fdUnitResult" type="FdUnit">
        <id     property="unitId"    column="u_id"     />
        <result property="unitCode"  column="u_code"   />
        <result property="unitName"  column="u_name"   />
    </resultMap>

    <resultMap id="fdFactoryResult" type="FdFactory">
        <id     property="factoryId"    column="f_id"     />
        <result property="factoryCode"  column="f_code"   />
        <result property="factoryName"  column="f_name"   />
    </resultMap>

    <resultMap id="materialSupplierResult" type="FdSupplier">
        <id     property="id"    column="ms_id"     />
        <result property="code"  column="ms_code"   />
        <result property="name"  column="ms_name"   />
    </resultMap>

    <sql id="selectDeptStocktakingVo">
        select stk.id, stk.stock_no, stk.suppler_id, stk.stock_date, stk.warehouse_id, stk.department_id,
				stk.stock_status, stk.user_id stk_user_id, stk.stock_type, stk.del_flag,stk.audit_date, stk.reject_reason, stk.create_by, stk.create_time,
				stk.update_by, stk.update_time, stk.remark,
				COALESCE((select SUM(IFNULL(entry.profit_amount, 0)) from stk_io_stocktaking_entry entry where entry.paren_id = stk.id and (entry.del_flag is null or entry.del_flag != 1)), 0) as profit_amount,
				COALESCE((select SUM(IFNULL(entry.stock_amount, 0)) from stk_io_stocktaking_entry entry where entry.paren_id = stk.id and (entry.del_flag is null or entry.del_flag != 1)), 0) as total_amount,
				s.id sId,s.code supplierCode,s.name supplierName,
				d.id dId,d.code departmentCode,d.name departmentName,
				w.id wId,w.code warehouseCode,w.name warehouseName
        from stk_io_stocktaking stk
        left join fd_supplier s on stk.suppler_id = s.id
        left join fd_department d on stk.department_id = d.id
        left join fd_warehouse w on stk.warehouse_id = w.id
    </sql>

    <select id="selectDeptStocktakingList" parameterType="StkIoStocktaking" resultMap="DeptStocktakingResult">
        <include refid="selectDeptStocktakingVo"/>
        where stk.del_flag != 1
        and stk.department_id is not null
        and (stk.warehouse_id is null or stk.warehouse_id = 0)
        <if test="stockNo != null  and stockNo != ''"> and stk.stock_no like concat('%', #{stockNo}, '%')</if>
        <if test="supplerId != null "> and stk.suppler_id = #{supplerId}</if>
        <if test="stockDate != null "> and stk.stock_date = #{stockDate}</if>
        <if test="departmentId != null "> and stk.department_id = #{departmentId}</if>
        <if test="stockStatus != null "> and stk.stock_status = #{stockStatus}</if>
        <if test="stockType != null "> and stk.stock_type = #{stockType}</if>
        <if test="auditDate != null "> and stk.audit_date = #{auditDate}</if>
        <if test="beginDate != null "> and stk.stock_date &gt;= #{beginDate}</if>
        <if test="endDate != null "> and stk.stock_date &lt;= #{endDate}</if>
        order by stk.stock_date desc, stk.stock_no desc
    </select>

    <select id="selectDeptStocktakingById" parameterType="Long" resultMap="DeptStocktakingStkIoStocktakingEntryResult">
        select a.id, a.stock_no, a.suppler_id, a.stock_date, a.warehouse_id, a.department_id, a.stock_status, a.user_id,
                a.stock_type, a.del_flag, a.audit_date, a.reject_reason, a.create_by, a.create_time, a.update_by, a.update_time, a.remark,
                COALESCE((select SUM(IFNULL(entry.profit_amount, 0)) from stk_io_stocktaking_entry entry where entry.paren_id = a.id and (entry.del_flag is null or entry.del_flag != 1)), 0) as profit_amount,
                COALESCE((select SUM(IFNULL(entry.stock_amount, 0)) from stk_io_stocktaking_entry entry where entry.paren_id = a.id and (entry.del_flag is null or entry.del_flag != 1)), 0) as total_amount,
                s.id as sId, s.code as supplierCode, s.name as supplierName,
                d.id as dId, d.code as departmentCode, d.name as departmentName,
                w.id as wId, w.code as warehouseCode, w.name as warehouseName,
                b.id as sub_id, b.paren_id as sub_paren_id, b.commodity_id as sub_commodity_id, b.material_id as sub_material_id,
                b.unit_price as sub_unit_price, b.qty as sub_qty, b.price as sub_price, b.amt as sub_amt, b.batch_no as sub_batch_no,
                b.batch_number as sub_batch_number, b.begin_time as sub_begin_time, b.end_time as sub_end_time,
                b.del_flag as sub_del_flag, b.remark as sub_remark,b.stock_qty as sub_stock_qty,b.profit_qty as sub_profit_qty,
                b.stock_amount as sub_stock_amount,b.profit_amount as sub_profit_amount,
                m.id as mId, m.code as materialCode, m.name as materialName,
                m.speci as m_speci, m.model as m_model, m.register_no as m_registerNo,
                m.unit_id as m_unitId, m.factory_id as m_factoryId, m.supplier_id as m_supplierId,
                u.unit_id as u_id, u.unit_code as u_code, u.unit_name as u_name,
                f.factory_id as f_id, f.factory_code as f_code, f.factory_name as f_name,
                ms.id as ms_id, ms.code as ms_code, ms.name as ms_name
        from stk_io_stocktaking a
        left join fd_supplier s on a.suppler_id = s.id
        left join fd_department d on a.department_id = d.id
        left join fd_warehouse w on a.warehouse_id = w.id
        left join stk_io_stocktaking_entry b on b.paren_id = a.id and (b.del_flag is null or b.del_flag != 1)
        left join fd_material m on b.material_id = m.id
        left join fd_unit u on m.unit_id = u.unit_id
        left join fd_factory f on m.factory_id = f.factory_id
        left join fd_supplier ms on m.supplier_id = ms.id
        where a.id = #{id}
    </select>

    <insert id="insertDeptStocktaking" parameterType="StkIoStocktaking" useGeneratedKeys="true" keyProperty="id">
        insert into stk_io_stocktaking
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stockNo != null">stock_no,</if>
            <if test="supplerId != null">suppler_id,</if>
            <if test="stockDate != null">stock_date,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="departmentId != null">department_id,</if>
            <if test="stockStatus != null">stock_status,</if>
            <if test="userId != null">user_id,</if>
            <if test="stockType != null">stock_type,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="auditDate != null">audit_date,</if>
            <if test="rejectReason != null and rejectReason != ''">reject_reason,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="isMonthInit != null">is_month_init,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stockNo != null">#{stockNo},</if>
            <if test="supplerId != null">#{supplerId},</if>
            <if test="stockDate != null">#{stockDate},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="departmentId != null">#{departmentId},</if>
            <if test="stockStatus != null">#{stockStatus},</if>
            <if test="userId != null">#{userId},</if>
            <if test="stockType != null">#{stockType},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="auditDate != null">#{auditDate},</if>
            <if test="rejectReason != null and rejectReason != ''">#{rejectReason},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isMonthInit != null">#{isMonthInit},</if>
         </trim>
    </insert>

    <update id="updateDeptStocktaking" parameterType="StkIoStocktaking">
        update stk_io_stocktaking
        <trim prefix="SET" suffixOverrides=",">
            <if test="stockNo != null">stock_no = #{stockNo},</if>
            <if test="supplerId != null">suppler_id = #{supplerId},</if>
            <if test="stockDate != null">stock_date = #{stockDate},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="stockStatus != null">stock_status = #{stockStatus},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="stockType != null">stock_type = #{stockType},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="auditDate != null">audit_date = #{auditDate},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isMonthInit != null">is_month_init = #{isMonthInit},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeptStocktakingById" parameterType="Long">
        update stk_io_stocktaking set del_flag = 1, update_time = now() where id = #{id}
    </delete>

    <delete id="deleteDeptStocktakingByIds" parameterType="String">
        update stk_io_stocktaking set del_flag = 1, update_time = now() where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteDeptStocktakingEntryByParenIds" parameterType="String">
        update stk_io_stocktaking_entry set del_flag = 1 where paren_id in
        <foreach item="parenId" collection="array" open="(" separator="," close=")">
            #{parenId}
        </foreach>
    </delete>

    <delete id="deleteDeptStocktakingEntryByParenId" parameterType="Long">
        update stk_io_stocktaking_entry set del_flag = 1 where paren_id = #{parenId}
    </delete>

    <insert id="batchDeptStocktakingEntry">
        insert into stk_io_stocktaking_entry( id, paren_id, commodity_id, material_id, unit_price, qty, price, amt, batch_no, batch_number, begin_time, end_time, del_flag, remark, stock_qty, profit_qty, stock_amount,profit_amount) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.parenId}, #{item.commodityId}, #{item.materialId}, #{item.unitPrice}, #{item.qty}, #{item.price}, #{item.amt}, #{item.batchNo}, #{item.batchNumber}, #{item.beginTime}, #{item.endTime}, #{item.delFlag}, #{item.remark}, #{item.stockQty}, #{item.profitQty}, #{item.stockAmount}, #{item.profitAmount})
        </foreach>
    </insert>

    <select id="selectMaxBillNo" resultType="String">
        select max(stock_no) from stk_io_stocktaking
        where stock_no like concat('KSPD%',#{date},'%')
    </select>
</mapper>
