<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.department.mapper.DeptBatchConsumeMapper">

    <resultMap type="DeptBatchConsume" id="DeptBatchConsumeResult">
        <result property="id"    column="id"    />
        <result property="consumeBillNo"    column="consume_bill_no"    />
        <result property="consumeBillDate"    column="consume_bill_date"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="departmentId"    column="department_id"    />
        <result property="userId"    column="user_id"    />
        <result property="consumeBillStatus"    column="consume_bill_status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="deleteBy"    column="delete_by"    />
        <result property="deleteTime"    column="delete_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="auditBy"    column="audit_by"    />
        <result property="auditDate"    column="audit_date"    />
        <result property="remark"    column="remark"    />
        <result property="auditPersonName"    column="auditUserName"    />
        <result property="createrName"    column="createUserName"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="rejectReason"    column="reject_reason"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="reverseFlag"    column="reverse_flag"    />
        <result property="reverseOfConsumeId"    column="reverse_of_consume_id"    />
        <result property="reverseOfBillNo"    column="reverse_of_bill_no"    />
        <association property="warehouse"    column="id" javaType="FdWarehouse" resultMap="warehouseResult" />
        <association property="user"    column="user_id" javaType="SysUser" resultMap="userResult" />
        <association property="department"    column="id" javaType="FdDepartment" resultMap="departmentResult" />
        <association property="creater"    column="id" javaType="SysUser" resultMap="createrResult" />
        <association property="auditPerson"    column="audit_by" javaType="SysUser" resultMap="auditPersonResult" />
    </resultMap>

    <resultMap id="warehouseResult" type="FdWarehouse">
        <id     property="id"    column="wId"     />
        <result property="code"  column="warehouseCode"   />
        <result property="name"  column="warehouseName"   />
    </resultMap>

    <resultMap id="departmentResult" type="FdDepartment">
        <id     property="id"    column="dId"     />
        <result property="code"  column="departmentCode"   />
        <result property="name"  column="departmentName"   />
    </resultMap>

    <resultMap id="userResult" type="SysUser">
        <id     property="userId"    column="userId"     />
        <result property="nickName"  column="nickName"   />
        <result property="userName"  column="userName"   />
    </resultMap>

    <resultMap id="createrResult" type="SysUser">
        <id     property="userId"    column="create_by"     />
        <result property="nickName"  column="createNickName"   />
        <result property="userName"  column="createUserName"   />
    </resultMap>

    <resultMap id="auditPersonResult" type="SysUser">
        <result property="userName"    column="auditUserName"     />
        <result property="nickName"  column="auditNickName"   />
    </resultMap>

    <resultMap id="DeptBatchConsumeDeptBatchConsumeEntryResult" type="DeptBatchConsume" extends="DeptBatchConsumeResult">
        <collection property="deptBatchConsumeEntryList" notNullColumn="sub_id" javaType="java.util.List" resultMap="DeptBatchConsumeEntryResult" />
    </resultMap>

    <resultMap type="DeptBatchConsumeEntry" id="DeptBatchConsumeEntryResult">
        <result property="id"    column="sub_id"    />
        <result property="parenId"    column="sub_paren_id"    />
        <result property="materialId"    column="sub_material_id"    />
        <result property="unitPrice"    column="sub_unit_price"    />
        <result property="qty"    column="sub_qty"    />
        <result property="price"    column="sub_price"    />
        <result property="amt"    column="sub_amt"    />
        <result property="batchNo"    column="sub_batch_no"    />
        <result property="batchNumer"    column="sub_batch_number"    />
        <result property="depInventoryId"    column="sub_dep_inventory_id"    />
        <result property="kcNo"    column="sub_kc_no"    />
        <result property="batchId"    column="sub_batch_id"    />
        <result property="warehouseId"    column="sub_warehouse_id"    />
        <result property="departmentId"    column="sub_department_id"    />
        <result property="supplierId"    column="sub_supplier_id"    />
        <result property="factoryId"    column="sub_factory_id"    />
        <result property="materialNo"    column="sub_material_no"    />
        <result property="remark"    column="sub_remark"    />
        <result property="beginTime"    column="sub_begin_time"    />
        <result property="endTime"    column="sub_end_time"    />
        <result property="delFlag"    column="sub_del_flag"    />
        <result property="mainBarcode"    column="sub_main_barcode"    />
        <result property="subBarcode"    column="sub_sub_barcode"    />
        <result property="materialDate"    column="sub_material_date"    />
        <result property="warehouseDate"    column="sub_warehouse_date"    />
        <result property="settlementType"    column="sub_settlement_type"    />
        <result property="materialName"    column="sub_material_name"    />
        <result property="materialSpeci"    column="sub_material_speci"    />
        <result property="materialModel"    column="sub_material_model"    />
        <result property="materialFactoryId"    column="sub_material_factory_id"    />
        <result property="deleteBy"    column="sub_delete_by"    />
        <result property="deleteTime"    column="sub_delete_time"    />
        <result property="tenantId"    column="sub_tenant_id"    />
        <result property="srcConsumeId"    column="sub_src_consume_id"    />
        <result property="srcConsumeBillNo"    column="sub_src_consume_bill_no"    />
        <result property="srcConsumeEntryId"    column="sub_src_consume_entry_id"    />
        <result property="srcConsumeQty"    column="sub_src_consume_qty"    />
        <result property="srcCanReverseQty"    column="sub_src_can_reverse_qty"    />
        <association property="material"    column="id" javaType="FdMaterial" resultMap="materialResult" />
    </resultMap>

    <resultMap id="materialResult" type="FdMaterial">
        <id     property="id"    column="sub_material_id"     />
        <result property="code"  column="materialCode"   />
        <result property="name"  column="materialName"   />
    </resultMap>

    <sql id="selectDeptBatchConsumeVo">
        select a.id, a.consume_bill_no, a.consume_bill_date, a.warehouse_id, a.department_id, a.user_id,
                a.consume_bill_status, a.del_flag, a.delete_by, a.delete_time, a.tenant_id, a.reverse_flag, a.reverse_of_consume_id, a.reverse_of_bill_no, a.create_by, a.create_time, a.update_by,
                a.update_time, a.remark, a.reject_reason, w.id wId,w.code warehouseCode,w.name warehouseName,a.audit_by,a.audit_date,
                u.user_id userId,u.nick_name nickName,u.user_name userName,d.code departmentCode,d.name departmentName,
               cu.nick_name createNickName,cu.user_name createUserName,
               au.nick_name auditNickName,au.user_name auditUserName,
               COALESCE((select SUM(IFNULL(entry.amt, 0)) from t_hc_ks_xh_entry entry where entry.paren_id = a.id and entry.del_flag != 1), 0) as total_amount
        from t_hc_ks_xh a
        left join fd_warehouse w on a.warehouse_id = w.id
        left join sys_user u on a.user_id = u.user_id
        left join fd_department d on a.department_id = d.id
        left join sys_user cu on a.create_by = cu.user_id
        left join sys_user au on a.audit_by = au.user_name
    </sql>

    <select id="selectDeptBatchConsumeList" parameterType="DeptBatchConsume" resultMap="DeptBatchConsumeResult">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        <include refid="selectDeptBatchConsumeVo"/>
        <where>
            and a.del_flag != 1
            and a.tenant_id = #{scopedTenantId}
            <if test="consumeBillNo != null  and consumeBillNo != ''"> and a.consume_bill_no = #{consumeBillNo}</if>
            <if test="consumeBillDate != null "> and a.consume_bill_date = #{consumeBillDate}</if>
            <if test="warehouseId != null "> and a.warehouse_id = #{warehouseId}</if>
            <if test="departmentId != null "> and a.department_id = #{departmentId}</if>
            <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="consumeBillStatus != null "> and a.consume_bill_status = #{consumeBillStatus}</if>
            <if test="beginDate != null and beginDate != ''"> and a.consume_bill_date &gt;= #{beginDate}</if>
            <if test="endDate != null and endDate != ''"> and a.consume_bill_date &lt;= #{endDate}</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectDeptBatchConsumeById" parameterType="Long" resultMap="DeptBatchConsumeDeptBatchConsumeEntryResult">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        select a.id, a.consume_bill_no, a.consume_bill_date, a.warehouse_id, a.department_id, a.user_id, a.consume_bill_status, a.del_flag, a.delete_by, a.delete_time, a.tenant_id, a.reverse_flag, a.reverse_of_consume_id, a.reverse_of_bill_no,
                a.create_by, a.create_time, a.update_by, a.update_time, a.remark, a.reject_reason,
                b.id as sub_id, b.paren_id as sub_paren_id, b.material_id as sub_material_id, b.unit_price as sub_unit_price,
                b.qty as sub_qty, b.price as sub_price, b.amt as sub_amt, b.batch_no as sub_batch_no,
                b.batch_number as sub_batch_number, b.dep_inventory_id as sub_dep_inventory_id, b.kc_no as sub_kc_no, b.batch_id as sub_batch_id,
                b.warehouse_id as sub_warehouse_id, b.department_id as sub_department_id, b.supplier_id as sub_supplier_id, b.factory_id as sub_factory_id,
                b.material_no as sub_material_no, b.remark as sub_remark, b.begin_time as sub_begin_time, b.end_time as sub_end_time,
                b.del_flag as sub_del_flag, b.main_barcode as sub_main_barcode, b.sub_barcode as sub_sub_barcode, b.material_date as sub_material_date,
                b.warehouse_date as sub_warehouse_date, b.settlement_type as sub_settlement_type, b.material_name as sub_material_name,
                b.material_speci as sub_material_speci, b.material_model as sub_material_model, b.material_factory_id as sub_material_factory_id,
                b.delete_by as sub_delete_by, b.delete_time as sub_delete_time, b.tenant_id as sub_tenant_id,
                b.src_consume_id as sub_src_consume_id, b.src_consume_bill_no as sub_src_consume_bill_no, b.src_consume_entry_id as sub_src_consume_entry_id,
                b.src_consume_qty as sub_src_consume_qty, b.src_can_reverse_qty as sub_src_can_reverse_qty,
               au.nick_name auditNickName,au.user_name auditUserName,
               cu.nick_name createrNickName,cu.user_name createrUserName,a.audit_by,m.code materialCode,m.name materialName
        from t_hc_ks_xh a
        left join t_hc_ks_xh_entry b on b.paren_id = a.id and b.del_flag != 1
        left join sys_user au on a.audit_by = au.user_name
        left join sys_user cu on a.create_by = cu.user_id
        left join fd_material m on b.material_id = m.id
        where a.id = #{id} and a.del_flag != 1 and a.tenant_id = #{scopedTenantId}
    </select>

    <insert id="insertDeptBatchConsume" parameterType="DeptBatchConsume" useGeneratedKeys="true" keyProperty="id">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        insert into t_hc_ks_xh
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="consumeBillNo != null">consume_bill_no,</if>
            <if test="consumeBillDate != null">consume_bill_date,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="departmentId != null">department_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="consumeBillStatus != null">consume_bill_status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleteBy != null">delete_by,</if>
            <if test="deleteTime != null">delete_time,</if>
            <if test="remark != null">remark,</if>
            <if test="auditBy != null">audit_by,</if>
            <if test="auditDate != null">audit_date,</if>
            <if test="rejectReason != null">reject_reason,</if>
            <if test="reverseFlag != null">reverse_flag,</if>
            <if test="reverseOfConsumeId != null">reverse_of_consume_id,</if>
            <if test="reverseOfBillNo != null">reverse_of_bill_no,</if>
            tenant_id,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="consumeBillNo != null">#{consumeBillNo},</if>
            <if test="consumeBillDate != null">#{consumeBillDate},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="departmentId != null">#{departmentId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="consumeBillStatus != null">#{consumeBillStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleteBy != null">#{deleteBy},</if>
            <if test="deleteTime != null">#{deleteTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="auditBy != null">#{auditBy},</if>
            <if test="auditDate != null">#{auditDate},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            <if test="reverseFlag != null">#{reverseFlag},</if>
            <if test="reverseOfConsumeId != null">#{reverseOfConsumeId},</if>
            <if test="reverseOfBillNo != null">#{reverseOfBillNo},</if>
            #{scopedTenantId},
         </trim>
    </insert>

    <update id="updateDeptBatchConsume" parameterType="DeptBatchConsume">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        update t_hc_ks_xh
        <trim prefix="SET" suffixOverrides=",">
            <if test="consumeBillNo != null">consume_bill_no = #{consumeBillNo},</if>
            <if test="consumeBillDate != null">consume_bill_date = #{consumeBillDate},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="consumeBillStatus != null">consume_bill_status = #{consumeBillStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleteBy != null">delete_by = #{deleteBy},</if>
            <if test="deleteTime != null">delete_time = #{deleteTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="auditBy != null">audit_by = #{auditBy},</if>
            <if test="auditDate != null">audit_date = #{auditDate},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="reverseFlag != null">reverse_flag = #{reverseFlag},</if>
            <if test="reverseOfConsumeId != null">reverse_of_consume_id = #{reverseOfConsumeId},</if>
            <if test="reverseOfBillNo != null">reverse_of_bill_no = #{reverseOfBillNo},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </trim>
        where id = #{id} and tenant_id = #{scopedTenantId}
    </update>

    <update id="deleteDeptBatchConsumeById" parameterType="Long">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        update t_hc_ks_xh set del_flag = 1, delete_by = #{deleteBy}, delete_time = now(), update_time = now() where id = #{id} and tenant_id = #{scopedTenantId}
    </update>

    <update id="deleteDeptBatchConsumeByIds" parameterType="String">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        update t_hc_ks_xh set del_flag = 1, delete_by = #{deleteBy}, delete_time = now(), update_time = now() where tenant_id = #{scopedTenantId} and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteDeptBatchConsumeEntryByParenIds" parameterType="String">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        update t_hc_ks_xh_entry set del_flag = 1, delete_by = #{deleteBy}, delete_time = now(), update_time = now() where tenant_id = #{scopedTenantId} and paren_id in
        <foreach item="parenId" collection="array" open="(" separator="," close=")">
            #{parenId}
        </foreach>
    </update>

    <update id="deleteDeptBatchConsumeEntryByParenId" parameterType="Long">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        update t_hc_ks_xh_entry set del_flag = 1, delete_by = #{deleteBy}, delete_time = now(), update_time = now() where paren_id = #{parenId} and tenant_id = #{scopedTenantId}
    </update>

    <delete id="deleteDeptBatchConsumeEntryRefByConsumeIds">
        delete from t_hc_ks_xh_entry_ref
        where tenant_id = #{tenantId}
          and consume_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            cast(#{id} as char)
        </foreach>
    </delete>

    <insert id="batchDeptBatchConsumeEntry">
        insert into t_hc_ks_xh_entry( paren_id, material_id, unit_price, qty, price, amt, batch_no, batch_number, dep_inventory_id, kc_no, batch_id, warehouse_id, department_id, supplier_id, factory_id, material_no, remark, begin_time, end_time, del_flag, main_barcode, sub_barcode, material_date, warehouse_date, settlement_type, material_name, material_speci, material_model, material_factory_id, src_consume_id, src_consume_bill_no, src_consume_entry_id, src_consume_qty, src_can_reverse_qty, create_by, create_time, tenant_id) values
		<foreach item="item" index="index" collection="list" separator=",">
            (#{item.parenId}, #{item.materialId}, #{item.unitPrice}, #{item.qty}, #{item.price}, #{item.amt}, #{item.batchNo}, #{item.batchNumer}, #{item.depInventoryId}, #{item.kcNo}, #{item.batchId}, #{item.warehouseId}, #{item.departmentId}, #{item.supplierId}, #{item.factoryId}, #{item.materialNo}, #{item.remark}, #{item.beginTime}, #{item.endTime}, 0, #{item.mainBarcode}, #{item.subBarcode}, #{item.materialDate}, #{item.warehouseDate}, #{item.settlementType}, #{item.materialName}, #{item.materialSpeci}, #{item.materialModel}, #{item.materialFactoryId}, #{item.srcConsumeId}, #{item.srcConsumeBillNo}, #{item.srcConsumeEntryId}, #{item.srcConsumeQty}, #{item.srcCanReverseQty}, #{item.createBy}, now(),
             (select m.tenant_id from t_hc_ks_xh m where m.id = #{item.parenId} limit 1))
        </foreach>
    </insert>

    <insert id="insertDeptBatchConsumeEntry" parameterType="DeptBatchConsumeEntry" useGeneratedKeys="true" keyProperty="id">
        insert into t_hc_ks_xh_entry( paren_id, material_id, unit_price, qty, price, amt, batch_no, batch_number, dep_inventory_id, kc_no, batch_id, warehouse_id, department_id, supplier_id, factory_id, material_no, remark, begin_time, end_time, del_flag, main_barcode, sub_barcode, material_date, warehouse_date, settlement_type, material_name, material_speci, material_model, material_factory_id, src_consume_id, src_consume_bill_no, src_consume_entry_id, src_consume_qty, src_can_reverse_qty, create_by, create_time, tenant_id)
        values
            (#{parenId}, #{materialId}, #{unitPrice}, #{qty}, #{price}, #{amt}, #{batchNo}, #{batchNumer}, #{depInventoryId}, #{kcNo}, #{batchId}, #{warehouseId}, #{departmentId}, #{supplierId}, #{factoryId}, #{materialNo}, #{remark}, #{beginTime}, #{endTime}, 0, #{mainBarcode}, #{subBarcode}, #{materialDate}, #{warehouseDate}, #{settlementType}, #{materialName}, #{materialSpeci}, #{materialModel}, #{materialFactoryId}, #{srcConsumeId}, #{srcConsumeBillNo}, #{srcConsumeEntryId}, #{srcConsumeQty}, #{srcCanReverseQty}, #{createBy}, now(), (select m.tenant_id from t_hc_ks_xh m where m.id = #{parenId} limit 1))
    </insert>

    <insert id="insertDeptBatchConsumeEntryRef" parameterType="DeptBatchConsumeEntry">
        insert into t_hc_ks_xh_entry_ref(
            id, tenant_id, consume_id, consume_bill_no, consume_entry_id, consume_bill_date, consume_status,
            src_bill_kind, src_bill_id, src_bill_no, src_entry_id,
            department_id, warehouse_id, material_id, material_name, material_speci, material_model,
            batch_no, batch_number, material_no, supplier_id, factory_id,
            out_entry_qty, available_qty, default_consume_qty, consume_qty, unit_price, amount,
            main_barcode, sub_barcode, create_by, create_time, remark
        ) values (
            #{refId},
            #{tenantId},
            cast(#{parenId} as char),
            (select m.consume_bill_no from t_hc_ks_xh m where m.id = #{parenId} limit 1),
            cast(#{id} as char),
            (select m.consume_bill_date from t_hc_ks_xh m where m.id = #{parenId} limit 1),
            (select m.consume_bill_status from t_hc_ks_xh m where m.id = #{parenId} limit 1),
            'OUT_WAREHOUSE',
            #{refOutBillId},
            #{refOutBillNo},
            #{refOutEntryId},
            #{departmentId},
            #{warehouseId},
            #{materialId},
            #{materialName},
            #{materialSpeci},
            #{materialModel},
            #{batchNo},
            #{batchNumer},
            #{materialNo},
            #{supplierId},
            #{factoryId},
            #{refOutEntryQty},
            #{refOutAvailableQty},
            #{refDefaultConsumeQty},
            #{qty},
            #{unitPrice},
            #{amt},
            #{mainBarcode},
            #{subBarcode},
            #{createBy},
            now(),
            #{remark}
        )
    </insert>

    <select id="selectMaxBillNo" resultType="String">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        select max(consume_bill_no) from t_hc_ks_xh
        where consume_bill_no like concat('%',#{date},'%') and tenant_id = #{scopedTenantId}
    </select>

    <select id="selectOutRefEntryList" parameterType="DeptBatchConsume" resultType="java.util.Map">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        select 
            dep.id as depInventoryId,
            cast(dep.bill_id as char) as refOutBillId,
            dep.bill_no as refOutBillNo,
            cast(dep.bill_entry_id as char) as refOutEntryId,
            bill.bill_date as billDate,
            dep.department_id as departmentId,
            dep.warehouse_id as warehouseId,
            dep.material_id as materialId,
            dep.material_name as materialName,
            dep.material_speci as materialSpeci,
            dep.material_model as materialModel,
            dep.material_factory_id as materialFactoryId,
            dep.supplier_id as supplierId,
            dep.factory_id as factoryId,
            dep.batch_id as batchId,
            dep.batch_no as batchNo,
            dep.batch_number as batchNumber,
            dep.material_no as materialNo,
            dep.begin_time as beginTime,
            dep.end_time as endTime,
            dep.material_date as materialDate,
            dep.warehouse_date as warehouseDate,
            dep.main_barcode as mainBarcode,
            dep.sub_barcode as subBarcode,
            dep.settlement_type as settlementType,
            dep.unit_price as unitPrice,
            dep.qty as availableQty,
            dep.amt as availableAmount,
            oe.qty as outEntryQty,
            case 
                when oe.qty is null then dep.qty
                when dep.qty &gt; oe.qty then oe.qty
                else dep.qty
            end as defaultConsumeQty
        from stk_dep_inventory dep
        inner join stk_io_bill bill on bill.id = dep.bill_id and bill.del_flag = 0 and bill.bill_type = 201
        left join stk_io_bill_entry oe on oe.id = dep.bill_entry_id and oe.del_flag = 0
        where dep.del_flag = 0
          and dep.qty &gt; 0
          and dep.tenant_id = #{scopedTenantId}
          and bill.tenant_id = #{scopedTenantId}
          and bill.bill_status = 2
          and not exists (
            select 1
            from t_hc_ks_xh_entry_ref r
            where r.tenant_id = #{scopedTenantId}
              and r.src_entry_id = cast(dep.bill_entry_id as char)
          )
          <if test="departmentId != null">and dep.department_id = #{departmentId}</if>
          <if test="warehouseId != null">and dep.warehouse_id = #{warehouseId}</if>
          <if test="consumeBillNo != null and consumeBillNo != ''">and dep.bill_no like concat('%', #{consumeBillNo}, '%')</if>
          <if test="materialId != null">and dep.material_id = #{materialId}</if>
          <if test="materialName != null and materialName != ''">and (dep.material_name like concat('%', #{materialName}, '%') or dep.material_no like concat('%', #{materialName}, '%'))</if>
        order by bill.bill_date desc, dep.bill_no desc, dep.id desc
    </select>

    <select id="selectReverseableEntryList" resultType="java.util.Map">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        select
            e.id as srcConsumeEntryId,
            e.paren_id as srcConsumeId,
            b.consume_bill_no as srcConsumeBillNo,
            e.dep_inventory_id as depInventoryId,
            e.material_id as materialId,
            e.material_name as materialName,
            e.material_speci as materialSpeci,
            e.material_model as materialModel,
            e.unit_price as unitPrice,
            e.qty as srcConsumeQty,
            e.batch_no as batchNo,
            e.batch_number as batchNumer,
            e.material_no as materialNo,
            e.begin_time as beginTime,
            e.end_time as endTime,
            e.material_date as materialDate,
            e.warehouse_date as warehouseDate,
            e.warehouse_id as warehouseId,
            e.department_id as departmentId,
            e.supplier_id as supplierId,
            e.factory_id as factoryId,
            e.batch_id as batchId,
            e.main_barcode as mainBarcode,
            e.sub_barcode as subBarcode,
            (e.qty - IFNULL((
              select SUM(ABS(r.qty))
              from t_hc_ks_xh_entry r
              where r.tenant_id = #{scopedTenantId}
                and r.del_flag != 1
                and r.src_consume_entry_id = e.id
            ), 0)) as canReverseQty
        from t_hc_ks_xh_entry e
        inner join t_hc_ks_xh b on b.id = e.paren_id and b.tenant_id = #{scopedTenantId} and b.del_flag != 1
        where e.tenant_id = #{scopedTenantId}
          and e.del_flag != 1
          and e.paren_id = #{consumeId}
          and e.qty > 0
          and b.consume_bill_status = 2
        having canReverseQty > 0
        order by e.id
    </select>

    <!-- 已审核消耗追溯报表：明细/汇总共用的筛选条件（需已 join a、e、m） -->
    <sql id="auditedConsumeReportWhere">
        a.del_flag != 1
        and a.tenant_id = #{scopedTenantId}
        and a.consume_bill_status = 2
        <if test="departmentId != null"> and a.department_id = #{departmentId}</if>
        <if test="materialId != null"> and e.material_id = #{materialId}</if>
        <if test="materialName != null and materialName != ''">
            and (m.name like concat('%', #{materialName}, '%') or m.code like concat('%', #{materialName}, '%'))
        </if>
        <if test="specification != null and specification != ''"> and m.speci like concat('%', #{specification}, '%')</if>
        <if test="model != null and model != ''"> and m.model like concat('%', #{model}, '%')</if>
        <if test="patientId != null and patientId != ''"> and a.remark like concat('%', #{patientId}, '%')</if>
        <if test="beginDate != null"> and a.consume_bill_date &gt;= #{beginDate}</if>
        <if test="endDate != null"> and a.consume_bill_date &lt;= #{endDate}</if>
    </sql>

    <!-- 当前筛选条件下明细行数量、金额合计（与分页列表条件一致，不按 group 聚合） -->
    <select id="selectAuditedConsumeReportTotal" parameterType="DeptBatchConsume" resultType="com.spd.common.core.page.TotalInfo">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        select COALESCE(SUM(e.qty), 0) as totalQty, COALESCE(SUM(e.amt), 0) as totalAmt
        from t_hc_ks_xh a
        inner join t_hc_ks_xh_entry e on e.paren_id = a.id and e.tenant_id = #{scopedTenantId} and e.del_flag != 1
        left join fd_material m on e.material_id = m.id
        where <include refid="auditedConsumeReportWhere"/>
    </select>

    <!-- 查询已审核的科室批量消耗明细列表（用于消耗追溯报表） -->
    <select id="selectAuditedConsumeDetailList" parameterType="DeptBatchConsume" resultType="java.util.Map">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        select 
            a.consume_bill_no as billNo,
            a.consume_bill_date as consumeDate,
            d.name as departmentName,
            m.code as materialCode,
            m.name as materialName,
            m.speci as specification,
            m.model as model,
            e.unit_price as unitPrice,
            e.qty as quantity,
            e.amt as amount,
            wc.warehouse_category_name as category,
            fc.finance_category_name as financialCategory,
            m.register_no as registrationNumber,
            m.medical_no as medicalInsuranceCode,
            NULL as hisChargeItemCode,
            u.unit_name as unitName
        from t_hc_ks_xh a
        left join t_hc_ks_xh_entry e on e.paren_id = a.id and e.tenant_id = #{scopedTenantId} and e.del_flag != 1
        left join fd_department d on a.department_id = d.id
        left join fd_material m on e.material_id = m.id
        left join fd_unit u on m.unit_id = u.unit_id
        left join fd_warehouse_category wc on m.storeroom_id = wc.warehouse_category_id
        left join fd_finance_category fc on m.finance_category_id = fc.finance_category_id
        where <include refid="auditedConsumeReportWhere"/>
        order by a.consume_bill_date desc, a.consume_bill_no desc
    </select>

    <!-- 查询已审核的科室批量消耗汇总列表（按耗材汇总，用于消耗追溯报表） -->
    <select id="selectAuditedConsumeSummaryList" parameterType="DeptBatchConsume" resultType="java.util.Map">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        select 
            d.name as departmentName,
            m.code as materialCode,
            m.name as materialName,
            m.speci as specification,
            m.model as model,
            u.unit_name as unit,
            SUM(e.qty) as totalQuantity,
            SUM(e.amt) as totalAmount,
            AVG(e.unit_price) as averagePrice,
            wc.warehouse_category_name as category
        from t_hc_ks_xh a
        left join t_hc_ks_xh_entry e on e.paren_id = a.id and e.tenant_id = #{scopedTenantId} and e.del_flag != 1
        left join fd_department d on a.department_id = d.id
        left join fd_material m on e.material_id = m.id
        left join fd_unit u on m.unit_id = u.unit_id
        left join fd_warehouse_category wc on m.storeroom_id = wc.warehouse_category_id
        where <include refid="auditedConsumeReportWhere"/>
        group by d.id, d.name, m.id, m.code, m.name, m.speci, m.model, u.unit_id, u.unit_name, wc.warehouse_category_id, wc.warehouse_category_name
        order by SUM(e.amt) desc
    </select>
</mapper>
