<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.equipment.mapper.EquipmentAccessoryStockMapper">
    <resultMap type="com.spd.equipment.domain.EquipmentAccessoryStock" id="StockResult">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="accessoryId" column="accessory_id"/>
        <result property="warehouseCode" column="warehouse_code"/>
        <result property="quantity" column="quantity"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="deleteBy" column="delete_by"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="accessoryCode" column="accessory_code"/>
        <result property="accessoryName" column="accessory_name"/>
    </resultMap>
    <select id="selectList" resultMap="StockResult">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()"/>
        select s.id, s.tenant_id, s.accessory_id, s.warehouse_code, s.quantity, s.remark, s.del_flag, s.delete_by, s.delete_time,
               s.create_by, s.create_time, s.update_by, s.update_time,
               a.accessory_code, a.name as accessory_name
        from equipment_accessory_stock s
        inner join equipment_accessory a on a.id = s.accessory_id and a.tenant_id = s.tenant_id and (a.del_flag = 0 or a.del_flag is null)
        <where>
            s.tenant_id = #{scopedTenantId}
            and (s.del_flag = 0 or s.del_flag is null)
            <if test="accessoryId != null and accessoryId != ''">and s.accessory_id = #{accessoryId}</if>
            <if test="warehouseCode != null and warehouseCode != ''">and s.warehouse_code like concat('%', #{warehouseCode}, '%')</if>
            <if test="accessoryCode != null and accessoryCode != ''">and a.accessory_code like concat('%', #{accessoryCode}, '%')</if>
            <if test="accessoryName != null and accessoryName != ''">and a.name like concat('%', #{accessoryName}, '%')</if>
        </where>
        order by s.update_time desc, s.create_time desc
    </select>
    <select id="selectActive" resultMap="StockResult">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()"/>
        select s.id, s.tenant_id, s.accessory_id, s.warehouse_code, s.quantity, s.remark, s.del_flag, s.delete_by, s.delete_time,
               s.create_by, s.create_time, s.update_by, s.update_time
        from equipment_accessory_stock s
        where s.tenant_id = #{scopedTenantId} and s.accessory_id = #{accessoryId}
        and s.warehouse_code = #{warehouseCode}
        and (s.del_flag = 0 or s.del_flag is null)
        limit 1
    </select>
    <insert id="insert" parameterType="com.spd.equipment.domain.EquipmentAccessoryStock">
        insert into equipment_accessory_stock (id, tenant_id, accessory_id, warehouse_code, quantity, remark, del_flag, create_by, create_time, update_by, update_time)
        values (#{id}, #{tenantId}, #{accessoryId}, #{warehouseCode}, #{quantity}, #{remark}, 0, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>
    <update id="addQty">
        update equipment_accessory_stock set quantity = quantity + #{qty}, update_by = #{updateBy}, update_time = #{updateTime}
        where id = #{id} and (del_flag = 0 or del_flag is null)
    </update>
    <update id="deductQty">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()"/>
        update equipment_accessory_stock set quantity = quantity - #{qty}, update_by = #{updateBy}, update_time = #{updateTime}
        where tenant_id = #{scopedTenantId} and accessory_id = #{accessoryId} and warehouse_code = #{warehouseCode}
        and (del_flag = 0 or del_flag is null) and quantity &gt;= #{qty}
    </update>
</mapper>
