<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.equipment.mapper.EquipmentCategoryMapper">

    <resultMap type="EquipmentCategory" id="EquipmentCategoryResult">
        <result property="categoryId"    column="category_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="categoryCode"    column="category_code"    />
        <result property="categoryName"    column="category_name"    />
        <result property="orderNum"    column="order_num"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEquipmentCategoryVo">
        select category_id, parent_id, category_code, category_name, order_num, status, del_flag, create_by, create_time, update_by, update_time, remark from fd_equipment_category
    </sql>

    <select id="selectEquipmentCategoryList" parameterType="EquipmentCategory" resultMap="EquipmentCategoryResult">
        <include refid="selectEquipmentCategoryVo"/>
        where del_flag != 1
        <if test="categoryCode != null  and categoryCode != ''"> and category_code = #{categoryCode}</if>
        <if test="categoryName != null  and categoryName != ''"> and category_name like concat('%', #{categoryName}, '%')</if>
        <if test="parentId != null"> and parent_id = #{parentId}</if>
        <if test="status != null  and status != ''"> and status = #{status}</if>
        order by parent_id, order_num, category_id
    </select>

    <select id="selectEquipmentCategoryTree" resultMap="EquipmentCategoryResult">
        <include refid="selectEquipmentCategoryVo"/>
        where del_flag != 1 and status = '0'
        order by parent_id, order_num, category_id
    </select>

    <select id="selectEquipmentCategoryByCategoryId" parameterType="Long" resultMap="EquipmentCategoryResult">
        <include refid="selectEquipmentCategoryVo"/>
        where category_id = #{categoryId}
    </select>

    <insert id="insertEquipmentCategory" parameterType="EquipmentCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into fd_equipment_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="categoryCode != null">category_code,</if>
            <if test="categoryName != null">category_name,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="categoryCode != null">#{categoryCode},</if>
            <if test="categoryName != null">#{categoryName},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEquipmentCategory" parameterType="EquipmentCategory">
        update fd_equipment_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="categoryCode != null">category_code = #{categoryCode},</if>
            <if test="categoryName != null">category_name = #{categoryName},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteEquipmentCategoryByCategoryId" parameterType="Long">
        update fd_equipment_category set del_flag = 1, update_time = now() where category_id = #{categoryId}
    </delete>

    <delete id="deleteEquipmentCategoryByCategoryIds" parameterType="String">
        update fd_equipment_category set del_flag = 1, update_time = now() where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>

