<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.equipment.mapper.EquipmentFileMapper">
    
    <resultMap type="EquipmentFile" id="EquipmentFileResult">
        <result property="fileId"    column="file_id"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="url"    column="url"    />
        <result property="fileType"    column="file_type"    />
        <result property="documentType"    column="document_type"    />
        <result property="originalFilename"    column="original_filename"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEquipmentFileVo">
        select file_id, equipment_id, file_name, file_path, url, file_type, document_type, original_filename, create_by, create_time, update_by, update_time, remark from equipment_file
    </sql>

    <select id="selectEquipmentFileList" parameterType="EquipmentFile" resultMap="EquipmentFileResult">
        <include refid="selectEquipmentFileVo"/>
        <where>  
            <if test="equipmentId != null  and equipmentId != ''"> and equipment_id = #{equipmentId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="documentType != null  and documentType != ''"> and document_type = #{documentType}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectEquipmentFileByFileId" parameterType="String" resultMap="EquipmentFileResult">
        <include refid="selectEquipmentFileVo"/>
        where file_id = #{fileId}
    </select>
        
    <insert id="insertEquipmentFile" parameterType="EquipmentFile">
        insert into equipment_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null">file_id,</if>
            <if test="equipmentId != null">equipment_id,</if>
            <if test="fileName != null">file_name,</if>
            <if test="filePath != null">file_path,</if>
            <if test="url != null">url,</if>
            <if test="fileType != null">file_type,</if>
            <if test="documentType != null">document_type,</if>
            <if test="originalFilename != null">original_filename,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null">#{fileId},</if>
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="url != null">#{url},</if>
            <if test="fileType != null">#{fileType},</if>
            <if test="documentType != null">#{documentType},</if>
            <if test="originalFilename != null">#{originalFilename},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEquipmentFile" parameterType="EquipmentFile">
        update equipment_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="url != null">url = #{url},</if>
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="documentType != null">document_type = #{documentType},</if>
            <if test="originalFilename != null">original_filename = #{originalFilename},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where file_id = #{fileId}
    </update>

    <delete id="deleteEquipmentFileByFileId" parameterType="String">
        update equipment_file set del_flag = 1, update_time = now() where file_id = #{fileId}
    </delete>

    <delete id="deleteEquipmentFileByFileIds" parameterType="String">
        update equipment_file set del_flag = 1, update_time = now() where file_id in 
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>
</mapper>
