<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.equipment.mapper.SbCustomerAssetLedgerMapper">
    <resultMap type="com.spd.equipment.domain.SbCustomerAssetLedger" id="Result">
        <id property="id" column="id"/>
        <result property="customerId" column="customer_id"/>
        <result property="equipmentSerialNo" column="equipment_serial_no"/>
        <result property="category68Id" column="category68_id"/>
        <result property="category68Code" column="category68_code"/>
        <result property="category68ArchiveNo" column="category68_archive_no"/>
        <result property="name" column="name"/>
        <result property="namePinyin" column="name_pinyin"/>
        <result property="spec" column="spec"/>
        <result property="model" column="model"/>
        <result property="registerCertNo" column="register_cert_no"/>
        <result property="brandId" column="brand_id"/>
        <result property="brandName" column="brand_name"/>
        <result property="manufacturerId" column="manufacturer_id"/>
        <result property="manufacturerName" column="manufacturer_name"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="serialNumber" column="serial_number"/>
        <result property="unit" column="unit"/>
        <result property="originalValue" column="original_value"/>
        <result property="netValue" column="net_value"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="storagePlace" column="storage_place"/>
        <result property="acceptanceDate" column="acceptance_date"/>
        <result property="storageDate" column="storage_date"/>
        <result property="manufactureDate" column="manufacture_date"/>
        <result property="scrapDate" column="scrap_date"/>
        <result property="expectedScrapDate" column="expected_scrap_date"/>
        <result property="assetCategoryId" column="asset_category_id"/>
        <result property="assetCategoryName" column="asset_category_name"/>
        <result property="measuringCategoryId" column="measuring_category_id"/>
        <result property="measuringCategoryName" column="measuring_category_name"/>
        <result property="calibrationCycleDays" column="calibration_cycle_days"/>
        <result property="lastCalibrationDate" column="last_calibration_date"/>
        <result property="nextCalibrationDate" column="next_calibration_date"/>
        <result property="useStatus" column="use_status"/>
        <result property="useStatusName" column="use_status_name"/>
        <result property="labelPrintStatus" column="label_print_status"/>
        <result property="labelPrintTime" column="label_print_time"/>
        <result property="repairStatus" column="repair_status"/>
        <result property="repairStatusName" column="repair_status_name"/>
        <result property="warrantyDays" column="warranty_days"/>
        <result property="warrantyStartTime" column="warranty_start_time"/>
        <result property="warrantyEndTime" column="warranty_end_time"/>
        <result property="warrantyType" column="warranty_type"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delBy" column="del_by"/>
        <result property="delTime" column="del_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="selectVo">
        select id, customer_id, equipment_serial_no, category68_id, category68_code, category68_archive_no, name, name_pinyin, spec, model, register_cert_no,
        brand_id, brand_name, manufacturer_id, manufacturer_name, supplier_id, supplier_name, serial_number, unit, original_value, net_value,
        dept_id, dept_name, storage_place, acceptance_date, storage_date, manufacture_date, scrap_date, expected_scrap_date,
        asset_category_id, asset_category_name, measuring_category_id, measuring_category_name, calibration_cycle_days, last_calibration_date, next_calibration_date,
        use_status, use_status_name, label_print_status, label_print_time, repair_status, repair_status_name,
        warranty_days, warranty_start_time, warranty_end_time, warranty_type,
        del_flag, del_by, del_time, create_by, create_time, update_by, update_time from sb_customer_asset_ledger
    </sql>
    <select id="selectList" resultMap="Result">
        <include refid="selectVo"/>
        <where>
            (del_flag = 0 or del_flag is null)
            <if test="customerId != null and customerId != ''"> and customer_id = #{customerId}</if>
            <if test="name != null and name != ''"> and (name like concat('%', #{name}, '%') or name_pinyin like concat('%', #{name}, '%'))</if>
            <if test="category68Id != null and category68Id != ''"> and category68_id = #{category68Id}</if>
            <if test="equipmentSerialNo != null and equipmentSerialNo != ''"> and equipment_serial_no like concat('%', #{equipmentSerialNo}, '%')</if>
            <if test="useStatus != null and useStatus != ''"> and use_status = #{useStatus}</if>
        </where>
        order by create_time desc
    </select>
    <select id="selectById" resultMap="Result"><include refid="selectVo"/> where id = #{id}</select>
    <select id="selectMaxSerialNoNumeric" resultType="int">
        select ifnull(max(cast(equipment_serial_no as unsigned)), 0) from sb_customer_asset_ledger
        where customer_id = #{customerId} and (del_flag = 0 or del_flag is null) and equipment_serial_no regexp '^[0-9]+$'
    </select>
    <select id="selectMaxArchiveNoSeq" resultType="int">
        select ifnull(max(cast(substring_index(category68_archive_no, '-', -1) as unsigned)), 0) from sb_customer_asset_ledger
        where customer_id = #{customerId} and category68_id = #{category68Id} and (del_flag = 0 or del_flag is null)
        and category68_archive_no is not null and category68_archive_no != '' and category68_archive_no like '%-%'
    </select>
    <insert id="insert" parameterType="com.spd.equipment.domain.SbCustomerAssetLedger">
        insert into sb_customer_asset_ledger (id, customer_id, equipment_serial_no, category68_id, category68_code, category68_archive_no, name, name_pinyin, spec, model, register_cert_no,
        brand_id, brand_name, manufacturer_id, manufacturer_name, supplier_id, supplier_name, serial_number, unit, original_value, net_value,
        dept_id, dept_name, storage_place, acceptance_date, storage_date, manufacture_date, scrap_date, expected_scrap_date,
        asset_category_id, asset_category_name, measuring_category_id, measuring_category_name, calibration_cycle_days, last_calibration_date, next_calibration_date,
        use_status, use_status_name, label_print_status, label_print_time, repair_status, repair_status_name,
        warranty_days, warranty_start_time, warranty_end_time, warranty_type, del_flag, create_by, create_time, update_by, update_time)
        values (#{id}, #{customerId}, #{equipmentSerialNo}, #{category68Id}, #{category68Code}, #{category68ArchiveNo}, #{name}, #{namePinyin}, #{spec}, #{model}, #{registerCertNo},
        #{brandId}, #{brandName}, #{manufacturerId}, #{manufacturerName}, #{supplierId}, #{supplierName}, #{serialNumber}, #{unit}, #{originalValue}, #{netValue},
        #{deptId}, #{deptName}, #{storagePlace}, #{acceptanceDate}, #{storageDate}, #{manufactureDate}, #{scrapDate}, #{expectedScrapDate},
        #{assetCategoryId}, #{assetCategoryName}, #{measuringCategoryId}, #{measuringCategoryName}, #{calibrationCycleDays}, #{lastCalibrationDate}, #{nextCalibrationDate},
        #{useStatus}, #{useStatusName}, #{labelPrintStatus}, #{labelPrintTime}, #{repairStatus}, #{repairStatusName},
        #{warrantyDays}, #{warrantyStartTime}, #{warrantyEndTime}, #{warrantyType}, 0, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>
    <update id="update" parameterType="com.spd.equipment.domain.SbCustomerAssetLedger">
        update sb_customer_asset_ledger
        <set>
            <if test="equipmentSerialNo != null">equipment_serial_no = #{equipmentSerialNo},</if>
            <if test="category68Id != null">category68_id = #{category68Id},</if>
            <if test="category68Code != null">category68_code = #{category68Code},</if>
            <if test="category68ArchiveNo != null">category68_archive_no = #{category68ArchiveNo},</if>
            <if test="name != null">name = #{name},</if>
            <if test="namePinyin != null">name_pinyin = #{namePinyin},</if>
            <if test="spec != null">spec = #{spec},</if>
            <if test="model != null">model = #{model},</if>
            <if test="registerCertNo != null">register_cert_no = #{registerCertNo},</if>
            <if test="brandId != null">brand_id = #{brandId},</if>
            <if test="brandName != null">brand_name = #{brandName},</if>
            <if test="manufacturerId != null">manufacturer_id = #{manufacturerId},</if>
            <if test="manufacturerName != null">manufacturer_name = #{manufacturerName},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="serialNumber != null">serial_number = #{serialNumber},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="originalValue != null">original_value = #{originalValue},</if>
            <if test="netValue != null">net_value = #{netValue},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="storagePlace != null">storage_place = #{storagePlace},</if>
            <if test="acceptanceDate != null">acceptance_date = #{acceptanceDate},</if>
            <if test="storageDate != null">storage_date = #{storageDate},</if>
            <if test="manufactureDate != null">manufacture_date = #{manufactureDate},</if>
            <if test="scrapDate != null">scrap_date = #{scrapDate},</if>
            <if test="expectedScrapDate != null">expected_scrap_date = #{expectedScrapDate},</if>
            <if test="assetCategoryId != null">asset_category_id = #{assetCategoryId},</if>
            <if test="assetCategoryName != null">asset_category_name = #{assetCategoryName},</if>
            <if test="measuringCategoryId != null">measuring_category_id = #{measuringCategoryId},</if>
            <if test="measuringCategoryName != null">measuring_category_name = #{measuringCategoryName},</if>
            <if test="calibrationCycleDays != null">calibration_cycle_days = #{calibrationCycleDays},</if>
            <if test="lastCalibrationDate != null">last_calibration_date = #{lastCalibrationDate},</if>
            <if test="nextCalibrationDate != null">next_calibration_date = #{nextCalibrationDate},</if>
            <if test="useStatus != null">use_status = #{useStatus},</if>
            <if test="useStatusName != null">use_status_name = #{useStatusName},</if>
            <if test="labelPrintStatus != null">label_print_status = #{labelPrintStatus},</if>
            <if test="labelPrintTime != null">label_print_time = #{labelPrintTime},</if>
            <if test="repairStatus != null">repair_status = #{repairStatus},</if>
            <if test="repairStatusName != null">repair_status_name = #{repairStatusName},</if>
            <if test="warrantyDays != null">warranty_days = #{warrantyDays},</if>
            <if test="warrantyStartTime != null">warranty_start_time = #{warrantyStartTime},</if>
            <if test="warrantyEndTime != null">warranty_end_time = #{warrantyEndTime},</if>
            <if test="warrantyType != null">warranty_type = #{warrantyType},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="delBy != null">del_by = #{delBy},</if>
            <if test="delTime != null">del_time = #{delTime},</if>
        </set>
        where id = #{id}
    </update>
</mapper>
