<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.equipment.mapper.SbEquipmentBrandMapper">
    <resultMap type="com.spd.equipment.domain.SbEquipmentBrand" id="Result">
        <id property="id" column="id"/>
        <result property="customerId" column="customer_id"/>
        <result property="name" column="name"/>
        <result property="namePinyin" column="name_pinyin"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delBy" column="del_by"/>
        <result property="delTime" column="del_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="selectVo">select id, customer_id, name, name_pinyin, del_flag, del_by, del_time, create_by, create_time, update_by, update_time from sb_equipment_brand</sql>
    <select id="selectList" resultMap="Result">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        <include refid="selectVo"/>
        <where>
            (del_flag = 0 or del_flag is null)
            and customer_id = #{scopedTenantId}
            <if test="name != null and name != ''"> and (name like concat('%', #{name}, '%') or name_pinyin like concat('%', #{name}, '%'))</if>
        </where>
        order by create_time desc
    </select>
    <select id="selectById" resultMap="Result">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        <include refid="selectVo"/> where id = #{id} and customer_id = #{scopedTenantId}
    </select>
    <insert id="insert" parameterType="com.spd.equipment.domain.SbEquipmentBrand">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        insert into sb_equipment_brand (id, customer_id, name, name_pinyin, del_flag, create_by, create_time, update_by, update_time)
        values (#{id}, #{tenantId}, #{name}, #{namePinyin}, 0, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>
    <update id="update" parameterType="com.spd.equipment.domain.SbEquipmentBrand">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        update sb_equipment_brand
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="namePinyin != null">name_pinyin = #{namePinyin},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="delBy != null">del_by = #{delBy},</if>
            <if test="delTime != null">del_time = #{delTime},</if>
        </set>
        where id = #{id} and customer_id = #{scopedTenantId}
    </update>
</mapper>
