<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.foundation.mapper.FdDepartmentMapper">

    <resultMap type="FdDepartment" id="FdDepartmentResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectFdDepartmentVo">
        select id, code, name, create_by, create_time, update_by, update_time from fd_department
    </sql>

    <select id="selectFdDepartmentList" parameterType="FdDepartment" resultMap="FdDepartmentResult">
        <include refid="selectFdDepartmentVo"/>
        where del_flag != 1
        <if test="code != null  and code != ''"> and code = #{code}</if>
        <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
    </select>

    <select id="selectFdDepartmentById" parameterType="String" resultMap="FdDepartmentResult">
        <include refid="selectFdDepartmentVo"/>
        where id = #{id}
    </select>

    <select id="selectdepartmenAll" resultMap="FdDepartmentResult">
        <include refid="selectFdDepartmentVo"/>
        where del_flag != 1
    </select>

    <select id="selectDepartmenListByUserId" parameterType="Long" resultType="Long">
        select d.id
        from fd_department d
        left join sys_user_department ud on ud.department_id = d.id
        left join sys_user u on u.user_id = ud.user_id
        where d.del_flag != 1
        <if test="userId != null  and userId != 0"> and u.user_id = #{userId}</if>
    </select>

    <select id="selectUserDepartmenAll" parameterType="Long" resultMap="FdDepartmentResult">
        select d.id,d.code,d.name
        from fd_department d
        left join sys_user_department ud on ud.department_id = d.id
        left join sys_user u on u.user_id = ud.user_id
        where d.del_flag != 1
        <if test="userId != null  and userId != 0"> and u.user_id = #{userId}</if>
    </select>

    <insert id="insertFdDepartment" parameterType="FdDepartment">
        insert into fd_department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="name != null">name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFdDepartment" parameterType="FdDepartment">
        update fd_department
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

<!--    <delete id="deleteFdDepartmentById" parameterType="String">-->
<!--        delete from fd_department where id = #{id}-->
<!--    </delete>-->

<!--    <delete id="deleteFdDepartmentByIds" parameterType="String">-->
<!--        delete from fd_department where id in-->
<!--        <foreach item="id" collection="array" open="(" separator="," close=")">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </delete>-->
</mapper>
