<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.foundation.mapper.FdSupplierChangeLogMapper">

    <resultMap id="FdSupplierChangeLogResult" type="com.spd.foundation.domain.FdSupplierChangeLog">
        <result property="id" column="id"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="changeTime" column="change_time"/>
        <result property="operator" column="operator"/>
        <result property="fieldName" column="field_name"/>
        <result property="fieldLabel" column="field_label"/>
        <result property="oldValue" column="old_value"/>
        <result property="newValue" column="new_value"/>
    </resultMap>

    <insert id="insert" parameterType="com.spd.foundation.domain.FdSupplierChangeLog">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        INSERT INTO fd_supplier_change_log (id, supplier_id, change_time, operator, field_name, field_label, old_value, new_value, tenant_id)
        VALUES (#{id}, #{supplierId}, #{changeTime}, #{operator}, #{fieldName}, #{fieldLabel}, #{oldValue}, #{newValue}, #{scopedTenantId})
    </insert>

    <select id="selectBySupplierId" resultMap="FdSupplierChangeLogResult">
        <bind name="scopedTenantId" value="@com.spd.common.utils.SecurityUtils@requiredScopedTenantIdForSql()" />
        SELECT id, supplier_id, change_time, operator, field_name, field_label, old_value, new_value
        FROM fd_supplier_change_log
        WHERE supplier_id = #{supplierId} and tenant_id = #{scopedTenantId}
        ORDER BY change_time DESC
    </select>
</mapper>
