<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.foundation.mapper.FdUnitMapper">

    <resultMap type="FdUnit" id="FdUnitResult">
        <result property="unitId"    column="unit_id"    />
        <result property="unitCode"    column="unit_code"    />
        <result property="unitName"    column="unit_name"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFdUnitVo">
        select unit_id, unit_code, unit_name, del_flag, create_by, create_time, update_by, update_time from fd_unit
    </sql>

    <select id="selectFdUnitList" parameterType="FdUnit" resultMap="FdUnitResult">
        <include refid="selectFdUnitVo"/>
        where del_flag != 1
        <if test="unitCode != null  and unitCode != ''"> and unit_code = #{unitCode}</if>
        <if test="unitName != null  and unitName != ''"> and unit_name like concat('%', #{unitName}, '%')</if>
    </select>

    <select id="selectFdUnitByUnitId" parameterType="Long" resultMap="FdUnitResult">
        <include refid="selectFdUnitVo"/>
        where unit_id = #{unitId}
    </select>

    <insert id="insertFdUnit" parameterType="FdUnit" useGeneratedKeys="true" keyProperty="unitId">
        insert into fd_unit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="unitCode != null">unit_code,</if>
            <if test="unitName != null">unit_name,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="unitCode != null">#{unitCode},</if>
            <if test="unitName != null">#{unitName},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFdUnit" parameterType="FdUnit">
        update fd_unit
        <trim prefix="SET" suffixOverrides=",">
            <if test="unitCode != null">unit_code = #{unitCode},</if>
            <if test="unitName != null">unit_name = #{unitName},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where unit_id = #{unitId}
    </update>

    <select id="selectMaxUnitCode" resultType="String">
        SELECT unit_code 
        FROM fd_unit 
        WHERE unit_code LIKE 'D%' 
        AND del_flag != 1
        AND CAST(SUBSTRING(unit_code, 2) AS UNSIGNED) = (
            SELECT MAX(CAST(SUBSTRING(unit_code, 2) AS UNSIGNED))
            FROM fd_unit
            WHERE unit_code LIKE 'D%' 
            AND del_flag != 1
        )
        ORDER BY unit_id DESC
        LIMIT 1
    </select>

<!--    <delete id="deleteFdUnitByUnitId" parameterType="Long">-->
<!--        delete from fd_unit where unit_id = #{unitId}-->
<!--    </delete>-->

<!--    <delete id="deleteFdUnitByUnitIds" parameterType="String">-->
<!--        delete from fd_unit where unit_id in -->
<!--        <foreach item="unitId" collection="array" open="(" separator="," close=")">-->
<!--            #{unitId}-->
<!--        </foreach>-->
<!--    </delete>-->
</mapper>
