<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.foundation.mapper.FdWarehouseCategoryMapper">

    <resultMap type="FdWarehouseCategory" id="FdWarehouseCategoryResult">
        <result property="warehouseCategoryId"    column="warehouse_category_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="warehouseCategoryCode"    column="warehouse_category_code"    />
        <result property="warehouseCategoryName"    column="warehouse_category_name"    />
        <result property="referredName"    column="referred_name"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteBy"    column="delete_by"    />
        <result property="deleteTime"    column="delete_time"    />
        <result property="tenantId"    column="tenant_id"    />
    </resultMap>

    <sql id="selectFdWarehouseCategoryVo">
        select warehouse_category_id, parent_id, warehouse_category_code, warehouse_category_name, referred_name, remark, del_flag, create_by, create_time, update_by, update_time, delete_by, delete_time, tenant_id from fd_warehouse_category
    </sql>

    <select id="selectFdWarehouseCategoryList" parameterType="FdWarehouseCategory" resultMap="FdWarehouseCategoryResult">
        <bind name="tenantId" value="@com.spd.common.utils.SecurityUtils@getCustomerId()" />
        <include refid="selectFdWarehouseCategoryVo"/>
        where del_flag != 1
        and tenant_id = #{tenantId}
        <if test="warehouseCategoryCode != null  and warehouseCategoryCode != ''"> and warehouse_category_code = #{warehouseCategoryCode}</if>
        <if test="warehouseCategoryName != null  and warehouseCategoryName != ''"> and warehouse_category_name like concat('%', #{warehouseCategoryName}, '%')</if>
        <if test="parentId != null"> and parent_id = #{parentId}</if>
        order by parent_id, warehouse_category_id
    </select>

    <select id="selectFdWarehouseCategoryTree" resultMap="FdWarehouseCategoryResult">
        <bind name="tenantId" value="@com.spd.common.utils.SecurityUtils@getCustomerId()" />
        <include refid="selectFdWarehouseCategoryVo"/>
        where del_flag != 1
        and tenant_id = #{tenantId}
        order by parent_id, warehouse_category_id
    </select>

    <select id="selectFdWarehouseCategoryByWarehouseCategoryId" parameterType="Long" resultMap="FdWarehouseCategoryResult">
        <bind name="tenantId" value="@com.spd.common.utils.SecurityUtils@getCustomerId()" />
        <include refid="selectFdWarehouseCategoryVo"/>
        where warehouse_category_id = #{warehouseCategoryId} and del_flag != 1 and tenant_id = #{tenantId}
    </select>

    <insert id="insertFdWarehouseCategory" parameterType="FdWarehouseCategory" useGeneratedKeys="true" keyProperty="warehouseCategoryId">
        <bind name="tenantId" value="@com.spd.common.utils.SecurityUtils@getCustomerId()" />
        insert into fd_warehouse_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="warehouseCategoryCode != null">warehouse_category_code,</if>
            <if test="warehouseCategoryName != null">warehouse_category_name,</if>
            <if test="referredName != null">referred_name,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            tenant_id,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="warehouseCategoryCode != null">#{warehouseCategoryCode},</if>
            <if test="warehouseCategoryName != null">#{warehouseCategoryName},</if>
            <if test="referredName != null">#{referredName},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            #{tenantId},
         </trim>
    </insert>

    <update id="updateFdWarehouseCategory" parameterType="FdWarehouseCategory">
        <bind name="tenantId" value="@com.spd.common.utils.SecurityUtils@getCustomerId()" />
        update fd_warehouse_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="warehouseCategoryCode != null">warehouse_category_code = #{warehouseCategoryCode},</if>
            <if test="warehouseCategoryName != null">warehouse_category_name = #{warehouseCategoryName},</if>
            <if test="referredName != null">referred_name = #{referredName},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleteBy != null">delete_by = #{deleteBy},</if>
            <if test="deleteTime != null">delete_time = #{deleteTime},</if>
        </trim>
        where warehouse_category_id = #{warehouseCategoryId} and tenant_id = #{tenantId}
    </update>

<!--    <delete id="deleteFdWarehouseCategoryByWarehouseCategoryId" parameterType="Long">-->
<!--        delete from fd_warehouse_category where warehouse_category_id = #{warehouseCategoryId}-->
<!--    </delete>-->

<!--    <delete id="deleteFdWarehouseCategoryByWarehouseCategoryIds" parameterType="String">-->
<!--        delete from fd_warehouse_category where warehouse_category_id in -->
<!--        <foreach item="warehouseCategoryId" collection="array" open="(" separator="," close=")">-->
<!--            #{warehouseCategoryId}-->
<!--        </foreach>-->
<!--    </delete>-->
</mapper>
